svg {
    /*border-style: solid;*/
    /*border-width: 2px;*/
    background-color: rgb(221, 238, 254);
    border-style: solid;
    border-width: 2px;
    border-color: #99b0ca;
    /*margin: 10px 10px 10px 267px;*/

    /*margin: auto;*/
    /*position: absolute;*/


}


@font-face {
    font-family: audiowide;
    src: url(../lib/fonts/audiowide/Audiowide-Regular.ttf);
}

@font-face {
    font-family: squada-one;
    src: url(../lib/fonts/squada-one/SquadaOne-Regular.ttf);
}


rect, circle{
    fill:blue;
    /*stroke:pink;*/
    /*stroke-width:1;*/
    fill-opacity:0.1;
    /*stroke-opacity:0.9;*/
}

.lines{
    stroke-width: 1.5;
    stroke-opacity: 0.05;
    stroke: rgb(0, 0, 0);
}

path{
    stroke-width: 1.5;
    stroke-opacity: 0.05;
    stroke: rgb(0, 0, 0);
}



.fil0 {fill:none}

.passes, .str0{
    stroke: #4f7885;
    stroke-opacity: 0.9;
    stroke-width: 12;


}


.fill{
    fill: #ffffff;
    fill-opacity:1;

}

.point{
    fill:none;
}


.center-div{
    margin: auto;
    width: 740px;
    height: 740px;
    position: relative;


}

.logo {
    width: 329px;
    height: 175px;
    background-color: rgba(93, 142, 236, 0);
    border: none;
    position: absolute;

    bottom: -24px;
    right: 16px;
    z-index: 10;

}

.logoStartScreen {
    width: 350px;
    height: 175px;
    background-color: rgba(93, 142, 236, 0);
    border: none;
    margin: -762px 33px 384px 204px;
    position: relative;

}




#svgMain {
    /*background-color: rgba(233, 247, 254, 0.03);*/

    position: absolute;
    top:0;
    left: 0;
}

#field {
    /*margin: -727px -9px 39px 25px;*/
    margin: 4px -7px -729px 24px;;

    background-color: rgb(233, 247, 254);
    z-index: 10;


}
#preview {
    background-color: rgb(233, 247, 254);
    margin: 1px -12px -171px 29px;
    z-index: 10;

}

#play{
    background-color: rgba(93, 142, 236, 0);
    border: none;
    z-index: 10;
    fill-rule:evenodd;

    width: 135px;
    height: 65px;

    position: absolute;
    bottom: 240px;
    right: 298px;
}
.str0play {
    stroke: #7889a7;
    stroke-width:2.3622;
}
.fil0play {fill:#7889a7}
.fil1play {fill:#7889a7}
#play rect{fill-opacity: 1; fill: #7889a7;}



#play:hover .fil0play{fill: #5c8391;}
#play:hover .fil1play{fill: #5c8391;}
#play:hover .str0play{stroke: #5c8391;}

#pauseScreen{
    fill: #becfe9;
    fill-opacity: 0.7;
}

#gameOverScreen{
    fill: #becfe9;
    fill-opacity: 0.7;
}




#paused{
    width: 202px;
    height: 82px;
    background-color: rgba(93, 142, 236, 0);
    border: none;
    z-index: 10;


    fill-rule:evenodd;
    display: none;

    position: absolute;
    bottom: 309px;
    right: 437px;
}

.str1Paused {stroke:#5c8391;stroke-width:0.700394}
.str0Paused {stroke:#5c8391;stroke-width:1.00039}
.fil0Paused {fill:#5c8391}

.str0GameOver {stroke:#7889a7;stroke-width:0.700395}
.fil0GameOver {fill:#7889a7}
.fil1GameOver {fill:#7889a7}

#gameOver {

    display: none;
    width: 310px;
    height: 73px;
    z-index: 10;

    background-color: rgba(93, 142, 236, 0);
    border: none;
    fill-rule:evenodd;

    position: absolute;
    bottom: 327px;
    right: 381px;


}


.str0OkButton {stroke:#7889a7;stroke-width:0.700397}
.fil0OkButton {fill:#7889a7}

#OkButton {

    display: none;
    width: 105px;
    height: 55px;
    z-index: 10;

    background-color: rgba(93, 142, 236, 0);
    border: none;
    fill-rule:evenodd;

    position: absolute;
    bottom: 194px;
    right: 492px;
}

#OkButton:hover .fil0OkButton{fill: #5c8391;}
#OkButton:hover .str0OkButton{stroke: #5c8391;}



        .str0Score{stroke:#000000;stroke-width:1.99962}
.fil0Score {fill:#ffffff}

#score {
    display: none;
    background-color: rgba(93, 142, 236, 0);
    border: none;
    z-index: 12;


    position: absolute;
    bottom: 274px;
    left: 401px;

    height:50px;
    width:119px;
}



#score .str0Score{
    stroke: #5f8491;
    stroke-opacity: 0.9;

}


.numbers{
    /*display: none;*/
    font-family:  squada-one, serif ;
    font-size: 46px;
    font-weight: 100;
    color: #5f8491;


}


.str0Level {stroke:#2B2A29;stroke-width:1.99963}
.fil0Level {fill: #ffffff}
#level{
    display: none;
    background-color: rgba(93, 142, 236, 0);
    border: none;
    z-index: 12;


    width: 109px;
    height: 50px;
    position: absolute;
    bottom: 452px;
    left: 391px;

}

#level .str0Level{
    stroke: #5f8491;
    stroke-opacity: 0.9;

}

.str0Lines {stroke:#2B2A29;stroke-width:1.99963}
.fil0Lines {fill:#ffffff}
#Lines{
    display: none;
    background-color: rgba(93, 142, 236, 0);
    border: none;
    z-index: 12;


    width: 98px;
    height: 50px;
    position: absolute;
    bottom: 362px;
    left: 399px;
}


#Lines .str0Lines{
    stroke: #5f8491;
    stroke-opacity: 0.9;

}


#numberOfLevel{
    display: none;
    position: absolute;
    bottom: 403px;
    right: 24px;
}


#numberOfLines{
    display: none;
    position: absolute;
    bottom: 310px;
    right: 24px;
}

#numberOfScore{
    display: none;
    position: absolute;
    bottom: 219px;
    right: 24px;
}

.str1quit {stroke:#7889a7;stroke-width:1.0004}
.str0quit {stroke:#7889a7;stroke-width:2.36223}
.fil0quit {fill: #7889a7
}
#quit rect{fill-opacity: 1; fill: #7889a7;}

#quit{
    display: none;
    background-color: rgba(93, 142, 236, 0);
    border: none;

    width:114px;
    height:54px;
    fill-rule:evenodd;

    position: absolute;
    bottom: 168px;
    right: 219px;
}

#quit:hover .fil0quit{fill: #5c8391;}
#quit:hover .fil1quit{fill: #5c8391;}
#quit:hover .str0quit{stroke: #5c8391;}


.str2Pause {stroke:#7889a7;stroke-width:0.199606}
.str0Pause {stroke:#7889a7;stroke-width:0.499606}
.str1Pause {stroke:#7889a7;stroke-width:1.00039}
.fil0Pause {fill:#7889a7}

#pause{
    display: none;
    background-color: rgba(93, 142, 236, 0);
    border: none;
    width:147px;
    height:49px;
    fill-rule:evenodd;
    position: absolute;
    bottom: 168px;
    right: 22px;

}

#pause rect{fill-opacity: 1; fill: #7889a7;}

#pause:hover .str2Pause {stroke:#5c8391;stroke-width:0.199606}
#pause:hover .str0Pause {stroke:#5c8391;stroke-width:0.499606}
#pause:hover .str1Pause {stroke:#5c8391;stroke-width:1.00039}
#pause:hover .fil0Pause {fill:#5c8391}

